* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;  
    color: #39a6b2;  
}

header {
    background-color: #39a6b2;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background-color: #fce138;
    padding: 35px 35px;
}

footer h2 {
    color: #39a6b2;
    display: inline;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

.hero {
    background-image: url(./img/hero.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;

}

.hero-form {
    color:  #024e76;
    background-color: #fce138;
    float: right;
    margin: 65px 85px;
    padding: 20px;
    width: 500px;
    height: 420px;
    border: solid 3px #024e76;
}