* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;  
    color: #39a6b2;  
}

/* header */

header {
    background-color: #39a6b2;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 7px 0;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigation a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.navigation a:hover {
    color: #39a6b2;
    background-color: #fce138;
    border-radius: 10px;
    text-shadow: none;
}

/* hero */

.hero {
    background-image: url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.hero-cta {
    width: 30%; 
    text-align: justify; 
    margin: 3.5%; 
    color: #fff; 
    font-size: 18px; 
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.hero-cta h2 {  
    text-align: left; 
    font-style: italic; 
    font-size: 45px; 
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.hero-form {
    color:  #024e76;
    background-color: rgba(252, 225, 56, .9);
    padding: 20px;
    border: 3px solid #024e76;
    width: 35%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 12px;
}

.hero h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
}

.hero p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.radio {
    margin: 0 3px;
}

form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    border-radius: 1px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
}

form button:hover { 
    background-color: #39a6b2;
}

/* whet we do */

.flex-row {
    display: flex;
}

.section-title {
    color: #024e76;
    font-size: 48px;
    padding-bottom: 20px;
    text-align: center;
    margin: 25px auto 35px auto;
    width: 50%;
}

.primary-border {
    border-bottom: 3px solid #fce138; 
}

.intro p { 
    text-align: center;
    line-height: 1.7; 
    color: #39a6b2; 
    width: 75%; 
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 55px;
}

/* what you do */

.steps {
    background-color: #fce138;
    padding-bottom: 1px;
}

.step {
    margin: 50px auto; 
    padding-bottom: 50px;
    width: 70%;
    border-bottom: 1px solid #39a6b2; 
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
}

.secondary-border {
    border-bottom: 3px solid #39a6b2; 
}

.step h3 {
    color: #024e76; 
    font-size: 43px; 
    flex: 1 40%;
    padding-left: 10vw;
}

.step-info {
    flex: 2 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.step-text h4 { 
    font-size: 26px; 
    line-height: 1.5; 
    color: #024e76;
}

.step-text p {
    color: #39a6b2; 
    font-size: 18px;
}

.step-text { 
    flex: 12;
}

.step-img {
    flex: 1 12%; 
    margin-right: 20px;
}

.step-img img { 
    max-width: 100%;
}

/* meet the trainers */

#trainers {
    width: 100%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.trainer {
    margin: 20px; 
    background: #024e76; 
    color: #fce138;
    flex: 1;
    border-radius: 12px;
    transition: color .5s;
    transition: background .5s;
}

.trainer img { 
    width: 100%; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.trainer:hover {
    color: #024e76; 
    background: #fce138;
}

.trainer-bio { 
    padding: 25px; 
    line-height: 1.3;
}

.trainer-bio h3 { 
    font-size: 28px; 
}

.trainer-bio h4 { 
    font-weight: lighter; 
    font-size: 22px; 
    margin-bottom: 15px;
}

.trainer-bio p { 
    font-size: 17px; 
}

/* service plan */

.services {
    background-color: #fce138;
    padding-top: 5px;
    padding-bottom: 35px;
}

.service-grid-wrapper { 
    display: flex;
    width: 100%; 
    justify-content: center;
}

.service-grid-container {
    display: grid;
    grid-template: repeat(5, 1fr) 2fr/ 1fr repeat(2, 4fr);
    background: lightyellow;
    width: 80%;
    border: 2px solid #024e76;
    color: #024e76;
    font-size: 18px;
    border-radius: 12px;
}

.service-grid-item { 
    padding: 15px 0;
    border: 2px solid #024e76; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.cancel {
    grid-row: 1 / -1;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.service-grid-item.basic {
    grid-column: 2 / span 1;
}

.service-grid-item.both { 
    grid-column: 2 / span 2;
}

.head, .price, .cancel {
    font-size: 1.5rem;
    font-weight: bold;
}

.head.premium {
    border-top-right-radius: 12px;
}

.price.premium {
    border-bottom-right-radius: 12px;
}

/* reach out */

#reach-out {
    background-color: #024e76;
    padding-bottom: 50px;
}

#reach-out h2 {
    color: #fce138;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info > * { 
    flex: 1;
    margin: 15px 55px; 
}

.contact-info div { 
    color: white;
}

.contact-info h3 { 
    color: #fce138; 
    font-size: 32px;
}

.contact-info p, 
    .contact-info address { 
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal; 
}

.contact-info a { 
    color: #fce138;
}

.contact-form input,
    .contact-form textarea {
        border: 1px solid #024e76;
        display: block;
        padding: 7px 15px;
        font-size: 16px;
        color: #024e76;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 5px;
        border-radius: 10px;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: #fce138;
    background: #39a6b2
}

iframe {
    border-radius: 10px;
}

/* footer */

footer {
    background-color: #fce138;
    padding: 35px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer h2 {
    color: #39a6b2;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center; 
    }

    header h1 {
        width: 100%; 
        text-align: center;
    }

    .navigation ul { 
        margin-top: 15px;
        margin-bottom: 10px; 
        width: 100%; 
        justify-content: center;
    }

    .navigation a {
        font-size: 20px;
    }

    footer h2, 
        footer div { 
            text-align: center; 
            width: 100%;
    }
    .hero-cta, 
        .hero-form { 
            width: 100%;
    }

    .hero-form {
        margin: 0 70px 35px 70px;
    }

    .hero-cta, 
        .hero-cta h2 { 
            text-align: center;
    }

    .section-title { 
        width: 80%;
    }

    .step h3 {
        padding-left: 4vw;
    }
    .trainer { 
        flex: 0 60%;
    }

    .contact-info iframe{ 
        flex: 1 100%;
    }
    
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px; 
    }

    .step h3 {
        flex: 1 100%; 
        text-align: center;
    }

    .step-info { 
        flex: 2 100%;
        text-align: center;
        justify-content: center; 
    }

    .step-img {
        flex: 0 32%; 
        margin-right: 0; 
        margin-top: 15px; 
        margin-bottom: 15px;
    }

    .step-text { 
        flex: 100%;
    }

    .service-grid-container { 
        grid-template-columns: 1fr 1fr;
    }

    .service-grid-item.basic { 
        grid-column: 1;
    }

    .service-grid-item.both { 
        grid-column: 1 / -1;
    }

    .service-grid-item.cancel { 
        transform: none; 
        writing-mode: unset;
        grid-column: 1 / -1;
        grid-row: -1;
    }

}

@media screen and (max-width: 575px) {
    .hero-form button { 
        width: 100%;
    }

    .section-title { 
        width: 95%;
    }

    .intro p { 
        width: 100%;
    }

    .trainer {
        flex: 0 100%; 
    }

    .contact-info { 
        text-align: center;
    }

    .contact-info > * { 
        flex: 0 100%;
    }

    .contact-form { 
        order: 3;
    }
}